* {
    padding: 0;
    margin: 0;
    border: 0;
    height: auto;
    width: auto;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
    font-weight: 100;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: #b6b5b5 rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    color: black;
    color: inherit;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}

*:link {
    color: inherit;
    text-decoration: none;
}

*:active {
    border: none;
    outline: none;
    background: inherit;
}

*:focus {
    border: none;
    outline: none;
    background: inherit;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    scrollbar-color: #b6b5b5 rgb(245, 245, 245);
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background: var(--third-color);
    background: #fafafa;
}

#root {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fail {
    background:#ff000029;
}
.success {
    background: #d9d9d9;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-center.wrap,
.flex.wrap,
.flex-between.wrap,
.wrap {
    flex-wrap: wrap;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.full-width {
    width: 100%;
}